.map-contenaire {
  height: 800px;
  width: 80%;
}
.contenaire {
  display: flex;
  flex-direction: row;
}
.form-control {
  width: 350px;
  margin-bottom: 20px;
}
.card-img-top {
  height: 150px;
  object-fit: cover;
}
